B2B Lead Generation.json
{
  "name": "B2B Lead Generation",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Email Subject\": \"your subject here\",\n  \"Email Body\": \"your email body here\"\n} "
      },
      "id": "7d7490a0-d44e-44f2-a794-81f581707b34",
      "name": "Parse Email JSON",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        3072,
        464
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "4957b200-c677-4722-b96f-2bb208aaff56",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $('Fetch Leads from Sheet').item.json['Email Address '] }}",
              "rightValue": ""
            },
            {
              "id": "de81c4ac-4327-4102-b59a-c70691efad04",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Fetch Leads from Sheet').item.json['Outreach Status '] }}",
              "rightValue": "Pending"
            }
          ]
        },
        "options": {}
      },
      "id": "c1483978-9b8c-4dfa-b224-b3faf673e708",
      "name": "Filter Pending Leads",
      "type": "n8n-nodes-base.if",
      "position": [
        2480,
        304
      ],
      "retryOnFail": false,
      "typeVersion": 2.3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert B2B cold email copywriter for [COMPANY NAME].\n\nABOUT [COMPANY NAME]:\n- Describe your services here\n- Add your unique value proposition\n- Add your website URL\n- Add your contact number\n\nEMAIL RULES:\n- NEVER use \"I hope this email finds you well\"\n- NEVER mention pricing\n- NEVER use more than 4 paragraphs\n- Sound professional, warm and human\n\nOUTPUT RULES:\n- Output ONLY a raw valid JSON object\n- No markdown, no backticks\n{\n  \"Email Subject\": \"subject line here\",\n  \"Email Body\": \"full email body here\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "3dde7c70-e762-4b8c-ab2c-d21b858c54e9",
      "name": "AI Cold Email Writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2928,
        256
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "id": "59dab260-3e2c-48d0-be54-f5c823d25e1b",
      "name": "Groq LLM (Fast AI)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "position": [
        2928,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "groqApi": {
          "id": "aDgi0qWZcFLOAZV8",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "YOUR_GOOGLE_SHEET_URL_HERE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "",
          "cachedResultUrl": "",
          "cachedResultName": ""
        }
      },
      "id": "79a4f3fc-0a6d-4a6c-b86c-b713052a5866",
      "name": "Save Email to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3280,
        256
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UOb4DH1VTdkQy8yc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/api_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"person_titles\": [\"{{ $json['Job Title'] }}\"],\n  \"person_locations\": [\"{{ $json.Location }}\"],\n  \"per_page\": \"{{ $json['Number of Leads'] }}\",\n  \"page\": 1\n}",
        "options": {}
      },
      "id": "5db70332-f89a-4dfd-a41c-f0376c4a3784",
      "name": "Apollo — Search Leads",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        608,
        928
      ],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/bulk_match",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"details\": [\n    { \"id\": \"{{ $('Deduplicate Leads').first().json.id }}\" }\n  ],\n  \"reveal_personal_emails\": true,\n  \"reveal_phone_number\": false\n}",
        "options": {}
      },
      "id": "cfbd6839-323b-425a-8a6f-654c388b172a",
      "name": "Apollo — Enrich Lead Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2736,
        880
      ],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "jsCode": "const matches = $input.first().json.matches || [];\nfunction titleCase(str) {\n  return (str || \"\").split(\" \")\n    .map(w => w.charAt(0).toUpperCase() + w.slice(1))\n    .join(\" \");\n}\nfunction getIndustry(org, enriched) {\n  const raw = org.industry || enriched.industry || \"\";\n  const kws = org.keywords || enriched.keywords || [];\n  const firstKw = kws[0] || \"\";\n  let label = \"\";\n  if (raw && firstKw) {\n    label = firstKw.length < raw.length ? firstKw : raw;\n  } else {\n    label = raw || firstKw;\n  }\n  return titleCase(label);\n}\nconst outputItems = [];\nfor (const enriched of matches) {\n  const org = enriched.organization || {};\n  const full_name =\n    `${enriched.first_name || \"\"} ${enriched.last_name_unobfuscated || enriched.last_name || \"\"}`.trim() ||\n    enriched.name ||\n    \"\";\n  const rawTitle = enriched.title || \"\";\n  const job_title = [...new Set(rawTitle.split(\",\").map(t => t.trim()))][0] || \"\";\n  let phone = \"\";\n  const phoneNumbers = enriched.phone_numbers || [];\n  if (phoneNumbers.length) {\n    const preferred = phoneNumbers.find(p =>\n      [\"work\", \"direct\", \"work_hq\"].includes(p.type)\n    );\n    phone = preferred?.sanitized_number || phoneNumbers[0]?.sanitized_number || \"\";\n  }\n  if (!phone) {\n    phone = org.phone || org.primary_phone?.number || \"\";\n  }\n  if (phone && !phone.startsWith(\"*\")) {\n    phone = \"'\" + phone;\n  } else {\n    phone = \"\";\n  }\n  let linkedin = enriched.linkedin_url || \"\";\n  if (linkedin && !linkedin.startsWith(\"http\")) {\n    linkedin = \"https://linkedin.com\" + linkedin;\n  }\n  const record = {\n    \"Apollo ID\":       enriched.id || \"\",\n    \"Full Name\":       full_name,\n    \"Job Title\":       job_title,\n    \"Company\":         org.name || \"\",\n    \"Email Address\":   enriched.email || \"\",\n    \"Phone Number\":    phone,\n    \"Profile URL\":     linkedin,\n    \"Company Website\": org.website_url || \"\",\n    \"Industry Genre\":  getIndustry(org, enriched),\n  };\n  for (const key of Object.keys(record)) {\n    if (!record[key]) record[key] = \"\";\n  }\n  outputItems.push({ json: record });\n}\nreturn outputItems;"
      },
      "id": "d0e5d3d8-9800-4a72-9600-3beb170208fc",
      "name": "Format & Clean Lead Data",
      "type": "n8n-nodes-base.code",
      "position": [
        2960,
        880
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "YOUR_GOOGLE_SHEET_URL_HERE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Master Sheet"
        },
        "columns": {
          "value": {
            "Company": "={{ $json.Company }}",
            "Apollo ID": "={{ $json['Apollo ID'] }}",
            "Job Title": "={{ $json['Job Title'] }}",
            "Full Name ": "={{ $json['Full Name'] }}",
            "Phone Number": "={{ $json['Phone Number'] }}",
            "Profile URL ": "={{ $json['Profile URL'] }}",
            "Email Address ": "={{ $json['Email Address'] }}",
            "Company Website": "={{ $json['Company Website'] }}",
            "Industry Genre ": "={{ $json['Industry Genre'] }}",
            "Outreach Status ": "Pending"
          },
          "schema": [
            {
              "id": "Apollo ID",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Apollo ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Full Name ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Job Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Email Address ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Phone Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Profile URL ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Profile URL ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Website",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Company Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry Genre ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Industry Genre ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Subject ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Email Subject ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Body",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Email Body",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Outreach Status ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Outreach Status ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Apollo ID"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f67ebebf-3686-4b51-b99f-d31305d3103f",
      "name": "Save Leads to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3184,
        960
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UOb4DH1VTdkQy8yc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "YOUR_GOOGLE_SHEET_URL_HERE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "",
          "cachedResultUrl": "",
          "cachedResultName": ""
        }
      },
      "id": "04b41b53-8a87-4c59-a904-96a7f0a091ef",
      "name": "Fetch Leads from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2256,
        304
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UOb4DH1VTdkQy8yc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const people = $input.first().json.people || [];\nconst jobTitle = $('Lead Generation Form').first().json['Job Title'] || '';\n\nreturn people.map(person => {\n  return {\n    json: {\n      id: person.id,\n      person: person,\n      designation: jobTitle\n    }\n  };\n});"
      },
      "id": "2cbc42cd-ac15-4d44-9c44-256fc2ad46cd",
      "name": "Extract People Data",
      "type": "n8n-nodes-base.code",
      "position": [
        832,
        928
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "426c1abb-5c0c-4b6b-91a1-0c0fef805dcb",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": false
            }
          ]
        },
        "options": {}
      },
      "id": "1345a443-3a7c-47a3-a0d2-a83665a24883",
      "name": "Skip Duplicates",
      "type": "n8n-nodes-base.if",
      "position": [
        2224,
        880
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "YOUR_GOOGLE_SHEET_URL_HERE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "",
          "cachedResultUrl": "",
          "cachedResultName": ""
        }
      },
      "id": "fffee28e-4576-46af-a852-72f907cedd5e",
      "name": "Fetch Existing Lead IDs",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1504,
        928
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UOb4DH1VTdkQy8yc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "5651f559-a244-4a6a-83e4-305433b76e50",
      "name": "Merge for Dedup Check",
      "type": "n8n-nodes-base.merge",
      "position": [
        1712,
        848
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst newId = allItems[0].json.id;\nconst person = allItems[0].json.person;\nconst name = person.name || `${person.first_name || ''} ${person.last_name || ''}`.trim();\nconst designation = allItems[0].json.designation || '';\n\nconst sheetRows = allItems.slice(1);\nconst existingIds = sheetRows.map(i => i.json['Apollo ID']).filter(Boolean);\n\nconst isDuplicate = existingIds.includes(newId);\n\nreturn [{ json: { \n  id: newId,\n  name: name,\n  designation: designation,\n  isDuplicate: isDuplicate \n} }];\n\n{{ $('Deduplicate Leads').first().json.designation }}"
      },
      "id": "1adc479f-f521-446f-ada1-68152b222c7f",
      "name": "Deduplicate Leads",
      "type": "n8n-nodes-base.code",
      "position": [
        1968,
        880
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $json.person }}"
        }
      },
      "id": "868b04b4-f9b4-47c4-86fa-58f0cef5f4ef",
      "name": "Process Each Lead",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1056,
        928
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "formTitle": "Lead Generation Form",
        "formDescription": "Enter details to search and generate leads automatically",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Job Title",
              "requiredField": true
            },
            {
              "fieldLabel": "Location",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of Leads",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "a4e420a7-09c6-4871-9e69-302870757580",
      "name": "Lead Generation Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        416,
        928
      ],
      "webhookId": "46cdf4ae-aeeb-4108-979e-92ec0e4050a3",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3371908a-881a-446b-b9a7-bbaf4cd0e771",
      "name": "Email Generation Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2704,
        304
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "amount": 4
      },
      "id": "90fd6eba-0057-4adf-a278-393bb3c71a06",
      "name": "Wait — Email Cooldown (4s)",
      "type": "n8n-nodes-base.wait",
      "position": [
        3504,
        368
      ],
      "webhookId": "eda8489b-a0d8-4198-bd30-f363b4888ef7",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "225282e1-c035-484c-9271-1db9197a0296",
      "name": "Wait — Apollo Cooldown (2s)",
      "type": "n8n-nodes-base.wait",
      "position": [
        2512,
        880
      ],
      "webhookId": "eda8489b-a0d8-4198-bd30-f363b4888ef7",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "sendTo": "={{ $('Fetch Leads from Sheet').item.json['Email Address '] }}",
        "subject": "={{ $json['Email Subject '] }}",
        "emailType": "text",
        "message": "={{ $json['Email Body'] }}",
        "options": {
          "appendAttribution": false,
          "bccList": "",
          "senderName": "Your Name"
        }
      },
      "id": "7e350226-331c-4fd4-8ea6-eac956f6f33a",
      "name": "Send Cold Email via Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3920,
        -240
      ],
      "webhookId": "0e4b622d-3106-4253-a2a0-5f0849b1ca92",
      "typeVersion": 2.2,
      "credentials": {
        "gmailOAuth2": {
          "id": "132KBxo29HjlFWjd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f2c7e6f6-8ec7-4781-9099-91acb782e1df",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        3696,
        -224
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "YOUR_GOOGLE_SHEET_URL_HERE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "",
          "cachedResultUrl": "",
          "cachedResultName": ""
        }
      },
      "id": "6dfab97b-dd54-4e5a-a80f-ce3ce9797e54",
      "name": "Update the Outreach Status",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4144,
        -240
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UOb4DH1VTdkQy8yc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "03125e1a-f904-4c79-bec6-aee701c26d95",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json['Outreach Status '] }}",
              "rightValue": "Mail Generated"
            }
          ]
        },
        "options": {}
      },
      "id": "52bbc219-6de7-4617-bdc9-48c932e28f0f",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "position": [
        3472,
        -224
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "2f2d4586-d06f-4b6a-9ddc-bba53e74d351",
      "name": "Wait — Email Cooldown (60s)",
      "type": "n8n-nodes-base.wait",
      "position": [
        4368,
        -224
      ],
      "webhookId": "b49e63ed-cfd6-46e4-9951-e6a64276369a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "YOUR_GOOGLE_SHEET_URL_HERE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "",
          "cachedResultUrl": "",
          "cachedResultName": ""
        }
      },
      "id": "c896a808-c8d3-4277-9abc-f40c2624c4aa",
      "name": "Fetch Leads for Mail",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3056,
        -224
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UOb4DH1VTdkQy8yc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Scrape leads from Apollo and send AI-powered cold emails — Full B2B Outreach Automation\n\nOVERVIEW\nTwo triggers for complete control over your outreach pipeline.\n\nTRIGGER 1 — LEAD SCRAPER (Form Trigger)\nFill the form with Job Title, Location and Number of Leads.\nApollo finds, enriches and saves leads to Google Sheet automatically.\n\nTRIGGER 2 — EMAIL GENERATOR AND SENDER (Manual Trigger)\nRun manually when ready.\nGenerates AI cold emails for all Pending leads, then\nsends emails to all Mail Generated leads via Gmail.\n\nCREDENTIALS REQUIRED\n- Apollo API Key (Header Auth)\n- Google Sheets OAuth2\n- Groq API Key (At console.groq.com)\n- Gmail OAuth2\n\nSETUP INSTRUCTIONS\n- Replace YOUR_GOOGLE_SHEET_URL with your Google Sheet URL\n- Add Apollo API Key in Header Auth credential\n- Add Groq API Key in Groq credential\n- Connect your Gmail account\n- Update the email prompt with your company details",
        "height": 576,
        "width": 1104
      },
      "id": "05e90a43-fc5f-4db2-a2e7-54c9501c7c4f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Trigger 1 —Lead Input Form\n\nUser submits job title, location and \nnumber of leads required. This triggers \nthe workflow automatically.",
        "height": 144,
        "width": 368,
        "color": 7
      },
      "id": "8b9c804a-e440-4b75-a37b-4cc165c05819",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Lead Discovery and Enrichment\n\nApollo searches for matching leads based \non form input. Each lead is enriched with \nemail, phone number, LinkedIn URL and \ncompany information.",
        "height": 192,
        "width": 528,
        "color": 7
      },
      "id": "74c038b1-a187-41a4-afd5-e1f0e14ca8de",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        1216
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Duplicate Prevention\n\nEach lead is checked against existing \nrecords in the Google Sheet. Duplicate \nleads are automatically skipped to avoid \nredundant outreach.",
        "height": 176,
        "width": 416,
        "color": 7
      },
      "id": "5c7a3393-bbe4-40b1-b0c8-3d6cd6f38ff3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save Leads\n\nAll enriched and verified leads are saved \nto the Google Sheet with outreach status \nset to Pending.",
        "height": 144,
        "width": 336,
        "color": 7
      },
      "id": "5db27cae-6198-43fd-8d0a-4d7cf7bb63aa",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2864,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI Email Generation\n\nGroq LLM generates a personalized cold \nemail for each lead based on their job \ntitle, company and industry. Subject and \nbody are saved back to the sheet.",
        "height": 176,
        "width": 336,
        "color": 7
      },
      "id": "b333df1a-6671-47bd-b881-0439016119e8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3072,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "62b69105-1e1f-4ddf-90b0-ef1119f2b11d",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        3264,
        -224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "f8dcde96-44f3-4799-9a08-8a52d0fc7efd",
      "name": "When clicking Execute Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        2032,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Trigger 2 — Email Generator and Sender\n\nRun manually when ready to generate and \nsend emails. Generates AI cold emails for \nall Pending leads then sends to all Mail \nGenerated leads via Gmail.",
        "height": 192,
        "width": 512,
        "color": 7
      },
      "id": "d113f0b6-cb1c-4390-a045-7717f4c0e001",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        48
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Filter1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send Cold Email via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Duplicates": {
      "main": [
        [
          {
            "node": "Wait — Apollo Cooldown (2s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Each Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email JSON": {
      "ai_outputParser": [
        [
          {
            "node": "AI Cold Email Writer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Leads": {
      "main": [
        [
          {
            "node": "Skip Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Lead": {
      "main": [
        [],
        [
          {
            "node": "Merge for Dedup Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Existing Lead IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM (Fast AI)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Cold Email Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract People Data": {
      "main": [
        [
          {
            "node": "Process Each Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Email to Sheet": {
      "main": [
        [
          {
            "node": "Wait — Email Cooldown (4s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Leads to Sheet": {
      "main": [
        [
          {
            "node": "Process Each Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Cold Email Writer": {
      "main": [
        [
          {
            "node": "Save Email to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads for Mail": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Leads": {
      "main": [
        [
          {
            "node": "Email Generation Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Generation Form": {
      "main": [
        [
          {
            "node": "Apollo — Search Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Generation Loop": {
      "main": [
        [
          {
            "node": "Fetch Leads for Mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Cold Email Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge for Dedup Check": {
      "main": [
        [
          {
            "node": "Deduplicate Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads from Sheet": {
      "main": [
        [
          {
            "node": "Filter Pending Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo — Search Leads": {
      "main": [
        [
          {
            "node": "Extract People Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Existing Lead IDs": {
      "main": [
        [
          {
            "node": "Merge for Dedup Check",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format & Clean Lead Data": {
      "main": [
        [
          {
            "node": "Save Leads to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Cold Email via Gmail": {
      "main": [
        [
          {
            "node": "Update the Outreach Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the Outreach Status": {
      "main": [
        [
          {
            "node": "Wait — Email Cooldown (60s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo — Enrich Lead Data": {
      "main": [
        [
          {
            "node": "Format & Clean Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Email Cooldown (4s)": {
      "main": [
        [
          {
            "node": "Email Generation Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Apollo Cooldown (2s)": {
      "main": [
        [
          {
            "node": "Apollo — Enrich Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Email Cooldown (60s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking Execute Workflow": {
      "main": [
        [
          {
            "node": "Fetch Leads from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6ba0c01c-81d5-4552-bee2-5d1b1fbced83",
  "meta": {
    "templateId": "14141",
    "templateCredsSetupCompleted": true,
    "instanceId": "d11ec99ce9fca51a18c98682e1efa9b12cdcd918a3681f34c5ca9550469767fc"
  },
  "id": "88NoW84NFrk5UA3L",
  "tags": []
}