B2B Lead Generation.json
{
  "name": "B2B Lead Generation",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Email Subject\": \"your subject here\",\n  \"Email Body\": \"your email body here\"\n} "
      },
      "id": "7d7490a0-d44e-44f2-a794-81f581707b34",
      "name": "Parse Email JSON",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        3280,
        464
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4957b200-c677-4722-b96f-2bb208aaff56",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json['Email Address'] }}",
              "rightValue": ""
            },
            {
              "id": "de81c4ac-4327-4102-b59a-c70691efad04",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json['Outreach Status'] }}",
              "rightValue": "Pending"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1483978-9b8c-4dfa-b224-b3faf673e708",
      "name": "Filter Pending Leads",
      "type": "n8n-nodes-base.if",
      "position": [
        2480,
        304
      ],
      "retryOnFail": false,
      "typeVersion": 2.3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You write short cold emails from Adarsh Gella to engineering leaders. Subject line format: \"Full Stack Developer, [Company Name not domain]\"\n- Company name must be the proper name (Ramp, not ramp.com). Capitalize it properly.\n\nLEAD:\nFirst Name: {{ $json['Full Name'].split(' ')[0] }}\nTitle: {{ $json['Job Title'] }}\nCompany: {{ $json.Company }}\n\nADARSH'S FACTS (use exactly 2 per email, pick different ones for each lead):\nFACT A: 3 years at Quinbay building e-commerce frontends in Vue.js and React, shipped UI adopted by 10,000+ sellers in the first month\nFACT B: Led a Vue 2 to Vue 3 migration with Vite and Pinia across a 15-member team, improved build speeds 2-5x and site performance by 30%\nFACT C: Solo-built Rahify, a full-stack AI travel planner with React, FastAPI, and Supabase that reached 200+ users in its first week with zero-hallucination itineraries\nFACT D: Built developer tooling at Quinbay, a VSCode plugin that auto-generates Jest tests from TypeScript ASTs, cut QA validation time by 73%\nFACT E: Built 4 production apps end-to-end from Figma to deployment, comfortable owning frontend, backend, database, auth, payments, and CI/CD\nFACT F: A general developer who knows how to work on system design and can build an app from scratch. \n\nEMAIL TEMPLATE (follow this structure, but write the OPENING LINE fresh each time):\n\nLine 1: Hi [First Name],\nLine 2: [OPENING LINE - one sentence, max 15 words. State that you are a full-stack engineer reaching out about roles at their company. Vary this sentence every time. Do not mention their title. Do not say \"I noticed\" or \"I came across\" or \"I saw.\"]\nLine 3: [FACT 1 which suits company ideology]. Keep it natural. Make sure to read all the facts and pick up the best top two. \nLine 4: [FACT 2 which suits company ideology]. Keep it natural. Make sure to read all the facts and pick up the best top two. \nLine 5: Graduating MS CS from UT Dallas in May. Authorized to work in the US for 3 years on STEM OPT, no sponsorship needed to start.\nLine 6: Portfolio and resume: adarshgella.com\nLine 7: Would love 10 minutes to chat.\nLine 8: Adarsh Gella\n\nBANNED PHRASES: passionate, excited, thrilled, innovative, cutting-edge, I noticed, I came across, I saw your team, efforts being led, expanding its, delve, leverage, harness, seamlessly\n\nOUTPUT ONLY raw JSON:\n{\n  \"Email Subject\": \"Frontend Engineer, [Company]\",\n  \"Email Body\": \"full email with \\n\\n between paragraphs\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "3dde7c70-e762-4b8c-ab2c-d21b858c54e9",
      "name": "AI Cold Email Writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3136,
        256
      ],
      "typeVersion": 3,
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "59dab260-3e2c-48d0-be54-f5c823d25e1b",
      "name": "Groq LLM (Fast AI)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "position": [
        3136,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "groqApi": {
          "id": "aDgi0qWZcFLOAZV8",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cGZWNhzSSani12XS9wvPwMwd_4VPmRgV3TY4FFs5ZTA/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master Lead Generation sheet",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Filter Pending Leads').item.json.ID }}",
            "Email Subject": "={{ $json.output['Email Subject'] }}",
            "output": "=",
            "Email Body": "={{ $json.output['Email Body'] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Profile URL",
              "displayName": "Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Industry Genre",
              "displayName": "Industry Genre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Outreach Status",
              "displayName": "Outreach Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Subject",
              "displayName": "Email Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Body",
              "displayName": "Email Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "79a4f3fc-0a6d-4a6c-b86c-b713052a5866",
      "name": "Save Email to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3488,
        256
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn73UAM9zebHIIs3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/bulk_match",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"details\": [\n    { \"id\": \"{{ $('Deduplicate Leads').first().json.id }}\" }\n  ],\n  \"reveal_personal_emails\": true,\n  \"reveal_phone_number\": false\n}",
        "options": {}
      },
      "id": "cfbd6839-323b-425a-8a6f-654c388b172a",
      "name": "Apollo — Enrich Lead Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2944,
        880
      ],
      "typeVersion": 4.3,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2sBz7c9AeVQljPM0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const matches = $input.first().json.matches || [];\nfunction titleCase(str) {\n  return (str || \"\").split(\" \")\n    .map(w => w.charAt(0).toUpperCase() + w.slice(1))\n    .join(\" \");\n}\nfunction getIndustry(org, enriched) {\n  const raw = org.industry || enriched.industry || \"\";\n  const kws = org.keywords || enriched.keywords || [];\n  const firstKw = kws[0] || \"\";\n  let label = \"\";\n  if (raw && firstKw) {\n    label = firstKw.length < raw.length ? firstKw : raw;\n  } else {\n    label = raw || firstKw;\n  }\n  return titleCase(label);\n}\nconst outputItems = [];\nfor (const enriched of matches) {\n  const org = enriched.organization || {};\n  const full_name =\n    `${enriched.first_name || \"\"} ${enriched.last_name_unobfuscated || enriched.last_name || \"\"}`.trim() ||\n    enriched.name ||\n    \"\";\n  const rawTitle = enriched.title || \"\";\n  const job_title = [...new Set(rawTitle.split(\",\").map(t => t.trim()))][0] || \"\";\n  let phone = \"\";\n  const phoneNumbers = enriched.phone_numbers || [];\n  if (phoneNumbers.length) {\n    const preferred = phoneNumbers.find(p =>\n      [\"work\", \"direct\", \"work_hq\"].includes(p.type)\n    );\n    phone = preferred?.sanitized_number || phoneNumbers[0]?.sanitized_number || \"\";\n  }\n  if (!phone) {\n    phone = org.phone || org.primary_phone?.number || \"\";\n  }\n  if (phone && !phone.startsWith(\"*\")) {\n    phone = \"'\" + phone;\n  } else {\n    phone = \"\";\n  }\n  let linkedin = enriched.linkedin_url || \"\";\n  if (linkedin && !linkedin.startsWith(\"http\")) {\n    linkedin = \"https://linkedin.com\" + linkedin;\n  }\n  const record = {\n    \"Apollo ID\":       enriched.id || \"\",\n    \"Full Name\":       full_name,\n    \"Job Title\":       job_title,\n    \"Company\":         org.name || \"\",\n    \"Email Address\":   enriched.email || \"\",\n    \"Phone Number\":    phone,\n    \"Profile URL\":     linkedin,\n    \"Company Website\": org.website_url || \"\",\n    \"Industry Genre\":  getIndustry(org, enriched),\n  };\n  for (const key of Object.keys(record)) {\n    if (!record[key]) record[key] = \"\";\n  }\n  outputItems.push({ json: record });\n}\nreturn outputItems;"
      },
      "id": "d0e5d3d8-9800-4a72-9600-3beb170208fc",
      "name": "Format & Clean Lead Data",
      "type": "n8n-nodes-base.code",
      "position": [
        3168,
        880
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cGZWNhzSSani12XS9wvPwMwd_4VPmRgV3TY4FFs5ZTA/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master Lead Generation sheet",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $('Search Leads').item.json.data.domain }}",
            "Job Title": "={{ $json['Job Title'] }}",
            "Phone Number": "={{ $json['Phone Number'] }}",
            "Company Website": "={{ $json['Company Website'] }}",
            "ID": "={{ $json.ID }}",
            "Full Name": "={{ $json['Full Name'] }}",
            "Email Address": "={{ $json['Email Address'] }}",
            "Profile URL": "={{ $json['Profile URL'] }}",
            "Industry Genre": "={{ $json['Industry Genre'] }}",
            "Outreach Status": "={{ $json['Outreach Status'] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Profile URL",
              "displayName": "Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry Genre",
              "displayName": "Industry Genre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Outreach Status",
              "displayName": "Outreach Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Subject",
              "displayName": "Email Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Body",
              "displayName": "Email Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f67ebebf-3686-4b51-b99f-d31305d3103f",
      "name": "Save Leads to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1728,
        544
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn73UAM9zebHIIs3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cGZWNhzSSani12XS9wvPwMwd_4VPmRgV3TY4FFs5ZTA/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master Lead Generation sheet",
          "mode": "name"
        },
        "options": {}
      },
      "id": "04b41b53-8a87-4c59-a904-96a7f0a091ef",
      "name": "Fetch Leads from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2272,
        304
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn73UAM9zebHIIs3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(person => {\n  const p = person.json;\n  return {\n    json: {\n      \"ID\": p.id || p.value,\n      \"Full Name\": `${p.first_name || ''} ${p.last_name || ''}`.trim(),\n      \"Job Title\": p.position || '',\n      \"Company\": p.company || '',\n      \"Email Address\": p.value || '',\n      \"Phone Number\": '',\n      \"Profile URL\": p.linkedin || '',\n      \"Company Website\": '',\n      \"Industry Genre\": p.department || '',\n      \"Outreach Status\": \"Pending\"\n    }\n  };\n});"
      },
      "id": "2cbc42cd-ac15-4d44-9c44-256fc2ad46cd",
      "name": "Extract People Data",
      "type": "n8n-nodes-base.code",
      "position": [
        1040,
        928
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "426c1abb-5c0c-4b6b-91a1-0c0fef805dcb",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": false
            }
          ]
        },
        "options": {}
      },
      "id": "1345a443-3a7c-47a3-a0d2-a83665a24883",
      "name": "Skip Duplicates",
      "type": "n8n-nodes-base.if",
      "position": [
        2432,
        880
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cGZWNhzSSani12XS9wvPwMwd_4VPmRgV3TY4FFs5ZTA/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master Lead Generation sheet",
          "mode": "name"
        },
        "options": {}
      },
      "id": "fffee28e-4576-46af-a852-72f907cedd5e",
      "name": "Fetch Existing Lead IDs",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1712,
        928
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn73UAM9zebHIIs3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "5651f559-a244-4a6a-83e4-305433b76e50",
      "name": "Merge for Dedup Check",
      "type": "n8n-nodes-base.merge",
      "position": [
        1920,
        848
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst newId = allItems[0].json.id;\nconst person = allItems[0].json.person;\nconst name = person.name || `${person.first_name || ''} ${person.last_name || ''}`.trim();\nconst designation = allItems[0].json.designation || '';\n\nconst sheetRows = allItems.slice(1);\nconst existingIds = sheetRows.map(i => i.json['Apollo ID']).filter(Boolean);\n\nconst isDuplicate = existingIds.includes(newId);\n\nreturn [{ json: { \n  id: newId,\n  name: name,\n  designation: designation,\n  isDuplicate: isDuplicate \n} }];\n\n{{ $('Deduplicate Leads').first().json.designation }}"
      },
      "id": "1adc479f-f521-446f-ada1-68152b222c7f",
      "name": "Deduplicate Leads",
      "type": "n8n-nodes-base.code",
      "position": [
        2176,
        880
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $json.person }}"
        }
      },
      "id": "868b04b4-f9b4-47c4-86fa-58f0cef5f4ef",
      "name": "Process Each Lead",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1376,
        912
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "formTitle": "Lead Generation Form",
        "formDescription": "Enter details to search and generate leads automatically",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Company Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Location",
              "defaultValue": "United States",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of Leads",
              "fieldType": "dropdown",
              "defaultValue": "1-50",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1-50"
                  },
                  {
                    "option": "51-200"
                  },
                  {
                    "option": "201-1000"
                  },
                  {
                    "option": "1000+"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Domain Name",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "a4e420a7-09c6-4871-9e69-302870757580",
      "name": "Lead Generation Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        416,
        928
      ],
      "webhookId": "46cdf4ae-aeeb-4108-979e-92ec0e4050a3",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3371908a-881a-446b-b9a7-bbaf4cd0e771",
      "name": "Email Generation Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2736,
        160
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "amount": 4
      },
      "id": "90fd6eba-0057-4adf-a278-393bb3c71a06",
      "name": "Wait — Email Cooldown (4s)",
      "type": "n8n-nodes-base.wait",
      "position": [
        3712,
        368
      ],
      "webhookId": "eda8489b-a0d8-4198-bd30-f363b4888ef7",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "225282e1-c035-484c-9271-1db9197a0296",
      "name": "Wait — Apollo Cooldown (2s)",
      "type": "n8n-nodes-base.wait",
      "position": [
        2720,
        880
      ],
      "webhookId": "eda8489b-a0d8-4198-bd30-f363b4888ef7",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "sendTo": "={{ $('Fetch Leads from Sheet').item.json['Email Address '] }}",
        "subject": "={{ $json['Email Subject '] }}",
        "emailType": "text",
        "message": "={{ $json['Email Body'] }}",
        "options": {
          "appendAttribution": false,
          "bccList": "",
          "senderName": "Your Name"
        }
      },
      "id": "7e350226-331c-4fd4-8ea6-eac956f6f33a",
      "name": "Send Cold Email via Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        4128,
        -240
      ],
      "webhookId": "0e4b622d-3106-4253-a2a0-5f0849b1ca92",
      "typeVersion": 2.2,
      "credentials": {
        "gmailOAuth2": {
          "id": "132KBxo29HjlFWjd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f2c7e6f6-8ec7-4781-9099-91acb782e1df",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        3904,
        -224
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cGZWNhzSSani12XS9wvPwMwd_4VPmRgV3TY4FFs5ZTA/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master Lead Generation sheet",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6dfab97b-dd54-4e5a-a80f-ce3ce9797e54",
      "name": "Update the Outreach Status",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4352,
        -240
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn73UAM9zebHIIs3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "03125e1a-f904-4c79-bec6-aee701c26d95",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json['Outreach Status '] }}",
              "rightValue": "Mail Generated"
            }
          ]
        },
        "options": {}
      },
      "id": "52bbc219-6de7-4617-bdc9-48c932e28f0f",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "position": [
        3680,
        -224
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "2f2d4586-d06f-4b6a-9ddc-bba53e74d351",
      "name": "Wait — Email Cooldown (60s)",
      "type": "n8n-nodes-base.wait",
      "position": [
        4576,
        -224
      ],
      "webhookId": "b49e63ed-cfd6-46e4-9951-e6a64276369a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cGZWNhzSSani12XS9wvPwMwd_4VPmRgV3TY4FFs5ZTA/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master Lead Generation sheet",
          "mode": "name"
        },
        "options": {}
      },
      "id": "c896a808-c8d3-4277-9abc-f40c2624c4aa",
      "name": "Fetch Leads for Mail",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3264,
        -224
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn73UAM9zebHIIs3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Scrape leads from Apollo and send AI-powered cold emails — Full B2B Outreach Automation\n\nOVERVIEW\nTwo triggers for complete control over your outreach pipeline.\n\nTRIGGER 1 — LEAD SCRAPER (Form Trigger)\nFill the form with Job Title, Location and Number of Leads.\nApollo finds, enriches and saves leads to Google Sheet automatically.\n\nTRIGGER 2 — EMAIL GENERATOR AND SENDER (Manual Trigger)\nRun manually when ready.\nGenerates AI cold emails for all Pending leads, then\nsends emails to all Mail Generated leads via Gmail.\n\nCREDENTIALS REQUIRED\n- Apollo API Key (Header Auth)\n- Google Sheets OAuth2\n- Groq API Key (At console.groq.com)\n- Gmail OAuth2\n\nSETUP INSTRUCTIONS\n- Replace YOUR_GOOGLE_SHEET_URL with your Google Sheet URL\n- Add Apollo API Key in Header Auth credential\n- Add Groq API Key in Groq credential\n- Connect your Gmail account\n- Update the email prompt with your company details",
        "height": 576,
        "width": 1104
      },
      "id": "05e90a43-fc5f-4db2-a2e7-54c9501c7c4f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Trigger 1 —Lead Input Form\n\nUser submits job title, location and \nnumber of leads required. This triggers \nthe workflow automatically.",
        "height": 144,
        "width": 368,
        "color": 7
      },
      "id": "8b9c804a-e440-4b75-a37b-4cc165c05819",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Lead Discovery and Enrichment\n\nApollo searches for matching leads based \non form input. Each lead is enriched with \nemail, phone number, LinkedIn URL and \ncompany information.",
        "height": 192,
        "width": 528,
        "color": 7
      },
      "id": "74c038b1-a187-41a4-afd5-e1f0e14ca8de",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        1216
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Duplicate Prevention\n\nEach lead is checked against existing \nrecords in the Google Sheet. Duplicate \nleads are automatically skipped to avoid \nredundant outreach.",
        "height": 176,
        "width": 416,
        "color": 7
      },
      "id": "5c7a3393-bbe4-40b1-b0c8-3d6cd6f38ff3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save Leads\n\nAll enriched and verified leads are saved \nto the Google Sheet with outreach status \nset to Pending.",
        "height": 144,
        "width": 336,
        "color": 7
      },
      "id": "5db27cae-6198-43fd-8d0a-4d7cf7bb63aa",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2864,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI Email Generation\n\nGroq LLM generates a personalized cold \nemail for each lead based on their job \ntitle, company and industry. Subject and \nbody are saved back to the sheet.",
        "height": 176,
        "width": 336,
        "color": 7
      },
      "id": "b333df1a-6671-47bd-b881-0439016119e8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3072,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "62b69105-1e1f-4ddf-90b0-ef1119f2b11d",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        3472,
        -224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "f8dcde96-44f3-4799-9a08-8a52d0fc7efd",
      "name": "When clicking Execute Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        2032,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Trigger 2 — Email Generator and Sender\n\nRun manually when ready to generate and \nsend emails. Generates AI cold emails for \nall Pending leads then sends to all Mail \nGenerated leads via Gmail.",
        "height": 192,
        "width": 512,
        "color": 7
      },
      "id": "d113f0b6-cb1c-4390-a045-7717f4c0e001",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data || $input.first().json;\nconst emails = Array.isArray(data) ? data : (data.emails || []);\n\nconst techKeywords = [\n  'engineer', 'engineering', 'cto', 'technical', \n  'frontend', 'backend', 'software', 'web', \n  'developer', 'architect', 'devops', 'infrastructure'\n];\n\nconst blockedTitles = [\n  'sales', 'marketing', 'finance', 'legal', \n  'product management', 'account', 'recruiter',\n  'human resources', 'operations', 'risk',\n  'business', 'revenue', 'growth'\n];\n\nconst filtered = emails.filter(person => {\n  const title = (person.position || '').toLowerCase();\n  \n  const isBlocked = blockedTitles.some(b => title.includes(b));\n  if (isBlocked) return false;\n  \n  const isTech = techKeywords.some(kw => title.includes(kw));\n  const isDeptTech = ['it', 'engineering'].includes(\n    (person.department || '').toLowerCase()\n  );\n  \n  return isTech || isDeptTech;\n});\n\nreturn filtered.map(person => ({ json: person }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        928
      ],
      "id": "04a657a0-5eaa-4224-a707-f6a78fd2c175",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hunter.io/v2/domain-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json['Domain Name'] }}"
            },
            {
              "name": "seniority",
              "value": "executive, senior"
            },
            {
              "name": "api_key",
              "value": "967201f2d0524cad3cd70b8d684e618040954387"
            }
          ]
        },
        "options": {}
      },
      "id": "5db70332-f89a-4dfd-a41c-f0376c4a3784",
      "name": "Search Leads",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        608,
        928
      ],
      "typeVersion": 4.3
    }
  ],
  "pinData": {
    "Search Leads": [
      {
        "json": {
          "data": {
            "domain": "ramp.com",
            "disposable": false,
            "webmail": false,
            "accept_all": true,
            "pattern": "{f}{last}",
            "organization": "Ramp",
            "linked_domains": [],
            "emails": [
              {
                "value": "obeaulieu@ramp.com",
                "type": "personal",
                "confidence": 94,
                "sources": [
                  {
                    "domain": "linkedin.com",
                    "uri": "https://www.google.com/search?q=site:linkedin.com%20olivier%20beaulieu%20ramp",
                    "extracted_on": "2025-08-20",
                    "last_seen_on": "2026-03-02",
                    "still_on_page": true
                  }
                ],
                "first_name": "Olivier",
                "last_name": "Beaulieu",
                "position": "Director of Software Engineering",
                "position_raw": "Director, Software Engineering",
                "seniority": "executive",
                "department": "it",
                "linkedin": "https://www.linkedin.com/in/olivier-beaulieu-5a315020",
                "twitter": null,
                "phone_number": null,
                "verification": {
                  "date": "2026-03-25",
                  "status": "valid"
                }
              },
              {
                "value": "wpetrie@ramp.com",
                "type": "personal",
                "confidence": 94,
                "sources": [
                  {
                    "domain": "linkedin.com",
                    "uri": "https://www.google.com/search?q=site:linkedin.com%20william%20petrie%20ramp",
                    "extracted_on": "2025-08-16",
                    "last_seen_on": "2026-03-03",
                    "still_on_page": true
                  }
                ],
                "first_name": "William",
                "last_name": "Petrie",
                "position": "Chief Financial Officer",
                "position_raw": "Chief Financial Officer",
                "seniority": "executive",
                "department": "finance",
                "linkedin": "https://www.linkedin.com/in/william-petrie-595b943a",
                "twitter": null,
                "phone_number": null,
                "verification": {
                  "date": "2026-04-02",
                  "status": "valid"
                }
              },
              {
                "value": "spark@ramp.com",
                "type": "personal",
                "confidence": 94,
                "sources": [
                  {
                    "domain": "linkedin.com",
                    "uri": "https://www.google.com/search?q=site:linkedin.com%20sammy%20park%20ramp",
                    "extracted_on": "2025-08-16",
                    "last_seen_on": "2026-03-03",
                    "still_on_page": true
                  }
                ],
                "first_name": "Sammy",
                "last_name": "Park",
                "position": "Head of Risk Management",
                "position_raw": "Head of Risk Operations",
                "seniority": "executive",
                "department": "management",
                "linkedin": "https://www.linkedin.com/in/sammy-park-b87a694a",
                "twitter": null,
                "phone_number": null,
                "verification": {
                  "date": "2026-03-31",
                  "status": "valid"
                }
              },
              {
                "value": "spackard@ramp.com",
                "type": "personal",
                "confidence": 94,
                "sources": [
                  {
                    "domain": "linkedin.com",
                    "uri": "https://www.google.com/search?q=site:linkedin.com%20sam%20packard%20ramp",
                    "extracted_on": "2025-08-08",
                    "last_seen_on": "2026-03-07",
                    "still_on_page": true
                  }
                ],
                "first_name": "Sam",
                "last_name": "Packard",
                "position": "Senior Director of Product Management",
                "position_raw": "Senior Director, Product Management",
                "seniority": "executive",
                "department": "management",
                "linkedin": "https://www.linkedin.com/in/sam-packard-586251122",
                "twitter": null,
                "phone_number": null,
                "verification": {
                  "date": "2026-03-27",
                  "status": "valid"
                }
              },
              {
                "value": "esilverstein@ramp.com",
                "type": "personal",
                "confidence": 94,
                "sources": [
                  {
                    "domain": "linkedin.com",
                    "uri": "https://www.google.com/search?q=site:linkedin.com%20elliot%20silverstein%20ramp",
                    "extracted_on": "2026-02-28",
                    "last_seen_on": "2026-03-10",
                    "still_on_page": true
                  }
                ],
                "first_name": "Elliot",
                "last_name": "Silverstein",
                "position": "Senior Director of Sales",
                "position_raw": "Senior Director, Head of Commercial Sales, Inside Sales & Growth Account Management",
                "seniority": "executive",
                "department": "sales",
                "linkedin": "https://www.linkedin.com/in/esilverstein",
                "twitter": null,
                "phone_number": null,
                "verification": {
                  "date": "2026-04-01",
                  "status": "valid"
                }
              },
              {
                "value": "ckennedy@ramp.com",
                "type": "personal",
                "confidence": 94,
                "sources": [
                  {
                    "domain": "linkedin.com",
                    "uri": "https://www.google.com/search?q=site:linkedin.com%20colin%20kennedy%20ramp",
                    "extracted_on": "2025-08-16",
                    "last_seen_on": "2026-03-16",
                    "still_on_page": true
                  }
                ],
                "first_name": "Colin",
                "last_name": "Kennedy",
                "position": "Chief Business Officer",
                "position_raw": "Chief Business Officer",
                "seniority": "executive",
                "department": "sales",
                "linkedin": "https://www.linkedin.com/in/colin-kennedy-854aa63",
                "twitter": null,
                "phone_number": null,
                "verification": {
                  "date": "2026-03-30",
                  "status": "valid"
                }
              },
              {
                "value": "rcox@ramp.com",
                "type": "personal",
                "confidence": 93,
                "sources": [
                  {
                    "domain": "linkedin.com",
                    "uri": "https://www.google.com/search?q=site:linkedin.com%20raymond%20cox%20ramp",
                    "extracted_on": "2025-08-21",
                    "last_seen_on": "2026-03-05",
                    "still_on_page": true
                  }
                ],
                "first_name": "Raymond",
                "last_name": "Cox",
                "position": "Director of Software Engineering",
                "position_raw": "Director, Software Engineering",
                "seniority": "executive",
                "department": "it",
                "linkedin": "https://www.linkedin.com/in/raymond-cox-4a561342",
                "twitter": null,
                "phone_number": null,
                "verification": {
                  "date": "2026-03-21",
                  "status": "valid"
                }
              },
              {
                "value": "imacomber@ramp.com",
                "type": "personal",
                "confidence": 93,
                "sources": [
                  {
                    "domain": "linkedin.com",
                    "uri": "https://www.google.com/search?q=site:linkedin.com%20ian%20macomber%20ramp",
                    "extracted_on": "2025-08-09",
                    "last_seen_on": "2026-02-28",
                    "still_on_page": true
                  }
                ],
                "first_name": "Ian",
                "last_name": "Macomber",
                "position": "Head of Data Science",
                "position_raw": "Head of Analytics Engineering & Data Science",
                "seniority": "executive",
                "department": "it",
                "linkedin": "https://www.linkedin.com/in/ian-macomber-8b26b140",
                "twitter": null,
                "phone_number": null,
                "verification": {
                  "date": "2026-03-31",
                  "status": "valid"
                }
              },
              {
                "value": "lmehr@ramp.com",
                "type": "personal",
                "confidence": 93,
                "sources": [
                  {
                    "domain": "linkedin.com",
                    "uri": "https://www.google.com/search?q=site:linkedin.com%20leo%20mehr%20ramp",
                    "extracted_on": "2025-12-27",
                    "last_seen_on": "2026-03-08",
                    "still_on_page": true
                  }
                ],
                "first_name": "Leo",
                "last_name": "Mehr",
                "position": "Director of Engineering",
                "position_raw": "Director of Engineering",
                "seniority": "executive",
                "department": "management",
                "linkedin": "https://www.linkedin.com/in/leo-mehr-a6149264",
                "twitter": null,
                "phone_number": null,
                "verification": {
                  "date": "2026-03-31",
                  "status": "valid"
                }
              },
              {
                "value": "agopinathan@ramp.com",
                "type": "personal",
                "confidence": 93,
                "sources": [
                  {
                    "domain": "linkedin.com",
                    "uri": "https://www.google.com/search?q=site:linkedin.com%20avinash%20gopinathan%20ramp",
                    "extracted_on": "2025-08-07",
                    "last_seen_on": "2026-03-11",
                    "still_on_page": true
                  }
                ],
                "first_name": "Avinash",
                "last_name": "Gopinathan",
                "position": "Director of Credit Risk",
                "position_raw": "Director, Credit Risk",
                "seniority": "executive",
                "department": "management",
                "linkedin": "https://www.linkedin.com/in/avinash-gopinathan-b0220914",
                "twitter": null,
                "phone_number": null,
                "verification": {
                  "date": "2026-04-01",
                  "status": "valid"
                }
              }
            ]
          },
          "meta": {
            "results": 79,
            "limit": 10,
            "offset": 0,
            "params": {
              "domain": "ramp.com",
              "company": null,
              "type": null,
              "seniority": "executive, senior",
              "department": null
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Filter1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send Cold Email via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Duplicates": {
      "main": [
        [
          {
            "node": "Wait — Apollo Cooldown (2s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Each Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email JSON": {
      "ai_outputParser": [
        [
          {
            "node": "AI Cold Email Writer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Leads": {
      "main": [
        [
          {
            "node": "Skip Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Lead": {
      "main": [
        [],
        [
          {
            "node": "Merge for Dedup Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Existing Lead IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM (Fast AI)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Cold Email Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract People Data": {
      "main": [
        [
          {
            "node": "Save Leads to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Email to Sheet": {
      "main": [
        []
      ]
    },
    "Save Leads to Sheet": {
      "main": [
        []
      ]
    },
    "AI Cold Email Writer": {
      "main": [
        [
          {
            "node": "Save Email to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads for Mail": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Leads": {
      "main": [
        [
          {
            "node": "AI Cold Email Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Generation Form": {
      "main": [
        [
          {
            "node": "Search Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Generation Loop": {
      "main": [
        [
          {
            "node": "Fetch Leads for Mail",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge for Dedup Check": {
      "main": [
        [
          {
            "node": "Deduplicate Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads from Sheet": {
      "main": [
        [
          {
            "node": "Filter Pending Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Existing Lead IDs": {
      "main": [
        [
          {
            "node": "Merge for Dedup Check",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format & Clean Lead Data": {
      "main": [
        []
      ]
    },
    "Send Cold Email via Gmail": {
      "main": [
        [
          {
            "node": "Update the Outreach Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the Outreach Status": {
      "main": [
        [
          {
            "node": "Wait — Email Cooldown (60s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo — Enrich Lead Data": {
      "main": [
        [
          {
            "node": "Format & Clean Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Email Cooldown (4s)": {
      "main": [
        [
          {
            "node": "Email Generation Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Apollo Cooldown (2s)": {
      "main": [
        [
          {
            "node": "Apollo — Enrich Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Email Cooldown (60s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking Execute Workflow": {
      "main": [
        [
          {
            "node": "Fetch Leads from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Extract People Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Leads": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5ea0462e-0103-4451-9259-b13a0a53d5ef",
  "meta": {
    "templateId": "14141",
    "templateCredsSetupCompleted": true,
    "instanceId": "d11ec99ce9fca51a18c98682e1efa9b12cdcd918a3681f34c5ca9550469767fc"
  },
  "id": "88NoW84NFrk5UA3L",
  "tags": []
}